version: '3'
services: 
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.frontend
    image: vite-docker-frontend
    stdin_open: true
    env_file:
      - ./frontend/.env
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - mern-app
    command: ["npm","run","dev","--","--host","0.0.0.0","--port","5173","--strictPort"]
  
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile.backend
    image: node-docker-backend
    env_file:
      - ./backend/.env
    ports:
      - "4000:4000"
    networks:
      - mern-app

networks:
  mern-app:
    driver: bridge